<div class="main">
  <h2> Modularização </h2>
  <p> No Angular podemos criar modulos na construção de nosso projeto, ou seja, dividir várias partes do sistema em
    partes menores que possuem tarefas específicas. O uso deste recurso traz muitas vantagens como a: </p>
  <p> - Reutilização do código </p>
  <p> - A facilidade de manutenção </p>
  <p> - Melhor legibilidade e compreensão do código </p>
  <p> Portanto, o conceito de dividir o seu código em blocos que se comunicam entre si e que cada parte tenha uma
    responsabilidade especifica pode ser chamado de modularização.</p>
  <h2> Component factory </h2>
  <p> A idéia é criar componentes que são reutilizados em mais de um módulo do projeto. Sendo que uma tela pode conter vários componentes e quanto mais dinâmicos e reutilizáveis sejam esses componentes, maior agilidade você ganha ao reutilizá-los. </p>
  <h2> Component styled </h2>
  <p> A estilização dos componentes serve para criar identidade ao seu projeto, você pode definir o estilo de um componente na própria criação,
    padronizando os componentes, além de poder criar mais de um tema de estilo para o seu componente.</p>
  <h2> Gerenciamento de estado </h2>
  <p> Serve para a comunicação entre componentes, você pode observar ações em outros componentes. Caso uma nova ação seja disparada o componente pode adotar determinado comportamento baseado na ação disparada. </p>
  <h2> Clean code </h2>
  <p> Se refere a um conjunto de boas práticas que você deve aplicar para obter uma maior legibilidade e
    manutenibilidade do seu código. </p>
    <p> O código limpo é eficiente, simples, deve ter minimas dependências, sem linhas duplicadas, fácil de corrigir, ter padrões definidos, de fácil leitura e entendimento, e por ultimo ter cobertura de testes. </p>

</div>
