.main {
  margin: 0px;
  padding: 20px;
  font-family: Arial;
  background-color: rgba(16, 17, 16, 0.788);
}

h2 {
  margin: 50px;
  text-align: left;
  font-size: 32px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.918);
}

p {
    margin: 20px;
    text-align: left;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.918);
}
