<div class="main" *ngIf="heroes">
  <div class="search">
    <input class="form-control mb-4" [(ngModel)]="search" (ngModelChange)="this.searchSubject.next($event)" type="text"
      placeholder="Pesquisar">
  </div>
  <div *ngIf="showFavorites">
    <h2 class='favorites'> Meus favoritos </h2>
    <div class="box-hero-favorite-grid">
      <div class="box-hero-favorite" *ngFor="let hero of favoriteHeroes">
        <img [routerLink]="['/detail/', hero.id]" [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
          [alt]="hero.name">
        <p class="nameFavoriteHero"> {{ hero.name }} </p>
      </div>
    </div>
  </div>
  <div class="not-found" *ngIf="heroes.length == 0 && !loading">
    Nenhum herói encontrado
  </div>
  <div class="box-hero-grid">
    <div class="box-hero" *ngFor="let hero of heroes">
      <img [routerLink]="['/detail/', hero.id]" [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
        [alt]="hero.name">
      <p class="nameHero"> {{ hero.name }} </p>
      <a class="deleteIcon" (click)="deleteHero(hero)"> Deletar heroi <i class="bi bi-trash2-fill"></i></a>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
  <app-button *ngIf="total >= 20" icon="bi bi-plus-square" text="Carregar mais herois" (click)="getMoreHeroes()"></app-button>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
