<div class="main">
  <app-loading [loading]="loading"></app-loading>
  <div class="error"  *ngIf="!hero && !loading">
    Ocorreu um erro. Favor tentar novamente mais tarde
  </div>
  <div *ngIf="hero">
    <div class="box-hero">
      <img [src]="hero.thumbnail?.path + '.' + hero.thumbnail?.extension" [alt]="hero.name">
      <h2 class="nameHero"> {{ hero.name }} </h2>
      <p class="descriptionHero"> {{ hero.description? hero.description : 'Não existe descrição para esse herói' }} </p>
    </div>

    <h2 class="details-title"> Histórias </h2>
    <div class="box-details-grid">
      <div class="box-details" *ngFor="let storie of hero.stories.items">
        <h2 class="item-hero"> {{ storie.name }} </h2>
      </div>
    </div>

    <h2 class="details-title"> Eventos </h2>
    <div class="box-details-grid">
      <div class="box-details" *ngFor="let event of hero.events.items">
        <h2 class="item-hero"> {{ event.name }} </h2>
      </div>
    </div>
    <div *ngIf="failed" class="alert alert-warning alert-dismissible notification">
      <a class="close" data-dismiss="alert" aria-label="close"> </a>
      <strong>Erro!</strong> Você já adicionou 5 heróis a seus favoritos.
    </div>
    <app-button [text]="isFavorite()" (click)="addOrRemoveFavoriteHero(hero)"></app-button>
    <app-button text="Voltar a galeria" (click)="backTogallery()"></app-button>
  </div>
</div>
